/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.config
/.gitconfig
/.local
/.mozilla
/.pki
/.python_history
/.ssh
/.viminfo
/.vscode
/.vscode-server
/Linux
/PIM_etc
/PIM_folder
/as
/ex.py
/memo.txt